
.App-title {
color:black;
margin-left:12%;
margin-top:-4px;
font-size: 35px;
}

.App-header {
  background-color: #F7FFA1;
  height: 30px;
  padding: 30px;
  color: white;
}

.logo{
  width:12%;
  margin-top:-22px;
  margin-left:0%;
  position:absolute;
}
