.App {
  text-align: center;
}


h1{
  font-size: 50px;
  margin-top:-10px;
  margin-left: 42%;
  position:absolute;
}

mark {
  display: inline-block;
  line-height: 0em;
  padding-bottom: 0.5em;
  background-color:#F7FFA1;
}

ul{
  list-style: none;
  margin-left: -40px;
}

.player{
  width:100%;
  margin-top:60px;
}

h2{
  width:90%;
  margin-left:5%;
  font-size:30px;
}

.channel{
  margin-left:5%;
  margin-top:100px;
  position:absolute;
}
