.App {
  text-align: center;
}

.App-header {
  background-color:#F7FFA1;
  height: 70px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 2em;
  margin-top:10px;
  margin-left:-0px;
}


h1{
  font-size: 50px;
  margin-top:5px;
  margin-left: 42%;
  position:absolute;
}

mark {
  display: inline-block;
  line-height: 0em;
  padding-bottom: 0.5em;
  background-color:#F7FFA1;
}

ul{
  list-style: none;
  margin-left: -40px;
}

.player{
  width:100%;
  margin-top:100px;
}

h2{
  width:90%;
  margin-left:5%;
}

p{
  margin-left:5%;
  margin-top:-16px;
}
